input::-webkit-input-placeholder {
  text-align: center;
}

input::-moz-placeholder {
  text-align: center;
}

input:-ms-input-placeholder {
  text-align: center;
}

input::-ms-input-placeholder {
  text-align: center;
}

input::placeholder {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form__input {
  display: inline-block;
  height: 44px;
  color: #fff;
  outline: none;
  border-radius: 22px;
  margin: 10px;
}

.form__input_access {
  width: 307px;
}

.form__button {
  height: 44px;
  min-width: 158px;
  margin: 10px;
  color: #fff;
  outline: none;
  border-radius: 22px;
  background-color: #06dbd4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06dbd8), to(#00c6f0));
  background-image: linear-gradient(to bottom, #06dbd8 0%, #00c6f0 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 199, 239, 0.2);
  box-shadow: 0 5px 10px rgba(0, 199, 239, 0.2);
}

.form__button:hover {
  color: #fff;
  opacity: .8;
}

.form__button:focus {
  outline: none;
}

.form__button:active {
  outline: none;
}

.form__button_access {
  width: 307px;
  text-transform: uppercase;
}
.header {
  font-weight: 500;
  color: #1d1b2a;
}

.header__top {
  background-color: #f7f7fa;
  padding: 30px 0;
}

.header__top_title {
  color: #1d1b2a;
}

.header__top_phone_text {
  margin-top: -5px;
  text-align: right;
}

.header__top_phone_number {
  display: inline-block;
  font-size: 24px;
  color: #051736;
  text-transform: uppercase;
}

.header__bottom {
  background-color: #fff;
}

.header__nav {
  width: 100%;
  background-color: #fff;
  padding-bottom: 0;
}

.header__nav_toggler {
  margin-bottom: 0.5rem;
}

.header__navitems {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff;
}

.header__navitems_link {
  color: #1d1b2a !important;
  max-width: 150px;
  padding-bottom: 11px;
}

.header__navitems_link:hover {
  color: #00c7ef !important;
  border-bottom: 4px solid #00c7ef;
  padding-bottom: 7px;
}
input::-webkit-input-placeholder {
  text-align: center;
}

input::-moz-placeholder {
  text-align: center;
}

input:-ms-input-placeholder {
  text-align: center;
}

input::-ms-input-placeholder {
  text-align: center;
}

input::placeholder {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form__input {
  display: inline-block;
  height: 44px;
  color: #fff;
  outline: none;
  border-radius: 22px;
  margin: 10px;
}

.form__input_access {
  width: 307px;
}

.form__button {
  height: 44px;
  min-width: 158px;
  margin: 10px;
  color: #fff;
  outline: none;
  border-radius: 22px;
  background-color: #06dbd4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06dbd8), to(#00c6f0));
  background-image: linear-gradient(to bottom, #06dbd8 0%, #00c6f0 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 199, 239, 0.2);
  box-shadow: 0 5px 10px rgba(0, 199, 239, 0.2);
}

.form__button:hover {
  color: #fff;
  opacity: .8;
}

.form__button:focus {
  outline: none;
}

.form__button:active {
  outline: none;
}

.form__button_access {
  width: 307px;
  text-transform: uppercase;
}

.header {
  font-weight: 500;
  color: #1d1b2a;
}

.header__top {
  background-color: #f7f7fa;
  padding: 30px 0;
}

.header__top_title {
  color: #1d1b2a;
}

.header__top_phone_text {
  margin-top: -5px;
  text-align: right;
}

.header__top_phone_number {
  display: inline-block;
  font-size: 24px;
  color: #051736;
  text-transform: uppercase;
}

.header__bottom {
  background-color: #fff;
}

.header__nav {
  width: 100%;
  background-color: #fff;
  padding-bottom: 0;
}

.header__nav_toggler {
  margin-bottom: 0.5rem;
}

.header__navitems {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff;
}

.header__navitems_link {
  color: #1d1b2a !important;
  max-width: 150px;
  padding-bottom: 11px;
}

.header__navitems_link:hover {
  color: #00c7ef !important;
  border-bottom: 4px solid #00c7ef;
  padding-bottom: 7px;
}

.main__banner {
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  background-color: #060828;
  opacity: 0.95;
  width: 100%;
  padding-top: 60px;
}

.main__banner_title {
  font-size: 44px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.main__banner_min {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin: 6px auto;
}

.main__banner_inner {
  width: 90%;
  margin: 30px auto;
  min-height: 260px;
  border-radius: 30px;
  background-color: #000d22;
  opacity: 0.8;
}

.main__banner_inner_text {
  color: #fff;
  margin: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.main__banner_inner_small {
  opacity: 0.15;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.main__banner_features {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
}

.main__banner_features_item {
  color: #fff;
  text-align: center;
  max-width: 330px;
  position: relative;
  margin: 20px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__banner_features_item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(50% - 8px);
  top: -21px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10px rgba(0, 199, 239, 0.2);
  box-shadow: 0 3px 10px rgba(0, 199, 239, 0.2);
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06dbd8), to(#00c6f0));
  background-image: linear-gradient(to bottom, #06dbd8 0%, #00c6f0 100%);
}

@media (max-width: 768px) {
  .main__banner_title {
    font-size: 30px;
  }

  .main__banner_min {
    font-size: 18px;
  }

  .main__banner_inner_text {
    font-size: 18px;
  }

  .main__banner_features {
    font-size: 18px;
  }
}

.main__title {
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  color: #2d323e;
  margin-bottom: 90px;
}

.main__goods {
  background-color: #f0f2f6;
  padding-top: 120px;
}

.main__goods_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__goods_list a {
  text-decoration: none;
  opacity: 0.8;
}

.main__goods_list a:hover {
  opacity: 1;
}

.main__goods_list_item {
  height: 380px;
  width: 250px;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px;
}

.main__goods_list_item img {
  height: 220px;
  margin: 0 auto;
}

.main__goods_list_item figcaption {
  margin: 0 15px;
  text-align: center;
  color: #051736;
  font-weight: 500;
  font-size: 20px;
}

.main__goods_list_item figcaption span {
  color: #00c7ef;
  font-weight: 700;
}

.main__form {
  background-color: #f0f2f6;
  min-height: 584px;
  background-image: url("../img/phone_bg.png");
  background-repeat: no-repeat;
  background-position: center top 5px;
  padding: 160px 10px 200px 10px;
}

.main__form_container {
  background-color: #202732;
  -webkit-box-shadow: 0 15px 40px rgba(0, 106, 238, 0.1);
  box-shadow: 0 15px 40px rgba(0, 106, 238, 0.1);
  border: 5px solid #00c7ef;
  border-radius: 30px;
  max-width: 1034px;
  margin: 0 auto;
  padding: 50px 20px 30px 20px;
}

.main__coop {
  padding-top: 120px;
}

.main__coop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__coop_item {
  width: 250px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.main__coop_item img {
  margin-bottom: 31px;
}

.main__coop_item_title {
  color: #051736;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 12px;
}

.main__coop_item_text {
  color: #535f75;
  font-size: 16px;
  font-weight: 500;
}

.main__partners_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.main__partners_list img {
  margin: 10px 30px;
  -ms-flex-item-align: center;
  align-self: center;
}
.main__banner {
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  background-color: #060828;
  opacity: 0.95;
  width: 100%;
  padding-top: 60px;
}

.main__banner_title {
  font-size: 44px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.main__banner_min {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin: 6px auto;
}

.main__banner_inner {
  width: 90%;
  margin: 30px auto;
  min-height: 260px;
  border-radius: 30px;
  background-color: #000d22;
  opacity: 0.8;
}

.main__banner_inner_text {
  color: #fff;
  margin: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.main__banner_inner_small {
  opacity: 0.15;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.main__banner_features {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
}

.main__banner_features_item {
  color: #fff;
  text-align: center;
  max-width: 330px;
  position: relative;
  margin: 20px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__banner_features_item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(50% - 8px);
  top: -21px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10px rgba(0, 199, 239, 0.2);
  box-shadow: 0 3px 10px rgba(0, 199, 239, 0.2);
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06dbd8), to(#00c6f0));
  background-image: linear-gradient(to bottom, #06dbd8 0%, #00c6f0 100%);
}

@media (max-width: 768px) {
  .main__banner_title {
    font-size: 30px;
  }

  .main__banner_min {
    font-size: 18px;
  }

  .main__banner_inner_text {
    font-size: 18px;
  }

  .main__banner_features {
    font-size: 18px;
  }
}
.main__coop {
  padding-top: 120px;
}

.main__coop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main__coop_item {
  width: 250px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.main__coop_item img {
  margin-bottom: 31px;
}

.main__coop_item_title {
  color: #051736;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 12px;
}

.main__coop_item_text {
  color: #535f75;
  font-size: 16px;
  font-weight: 500;
}
.main__form {
  background-color: #f0f2f6;
  min-height: 584px;
  background-image: url("../img/phone_bg.png");
  background-repeat: no-repeat;
  background-position: center top 5px;
  padding: 160px 10px 200px 10px;
}

.main__form_container {
  background-color: #202732;
  -webkit-box-shadow: 0 15px 40px rgba(0, 106, 238, 0.1);
  box-shadow: 0 15px 40px rgba(0, 106, 238, 0.1);
  border: 5px solid #00c7ef;
  border-radius: 30px;
  max-width: 1034px;
  margin: 0 auto;
  padding: 50px 20px 30px 20px;
}
.main__title {
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  color: #2d323e;
  margin-bottom: 90px;
}

.main__goods {
  background-color: #f0f2f6;
  padding-top: 120px;
}

.main__goods_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__goods_list a {
  text-decoration: none;
  opacity: 0.8;
}

.main__goods_list a:hover {
  opacity: 1;
}

.main__goods_list_item {
  height: 380px;
  width: 250px;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px;
}

.main__goods_list_item img {
  height: 220px;
  margin: 0 auto;
}

.main__goods_list_item figcaption {
  margin: 0 15px;
  text-align: center;
  color: #051736;
  font-weight: 500;
  font-size: 20px;
}

.main__goods_list_item figcaption span {
  color: #00c7ef;
  font-weight: 700;
}
.main__partners_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.main__partners_list img {
  margin: 10px 30px;
  -ms-flex-item-align: center;
  align-self: center;
}